body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
 
  header {
    background-color: #9aff4793;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  #perfil {
    margin-bottom: 20px;
  }
  
  #perfil h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  #perfil p {
    line-height: 1.5;
  }
  
  #galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  input[type="submit"] {

    font-size: 20px;

    padding: 10px 20px;

    border-radius: 5px;

    background-color: #000000;

    color: #fff;

    border: none;

    cursor: pointer;

    margin-left: 50%;

  }